body {
  box-sizing: border-box;
  background-color: red;
}

.heads {
  font-family: 'Dancing Script', cursive;
}


.posting {
  padding: 1%;
  text-align: center;
  border: solid 1px;
}

.navs {
  padding-bottom: 1%;
}
