{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hey Neighbor</title>
    <link rel='stylesheet' type='text/css' href="{% static 'hey_neighbor/base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Dancing+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="container">
    {% include 'hey_neighbor/nav.html' %}
    <!-- {% if request.user.is_authenticated %}
    <p> Hello, {{tool.owner}}</p>
    {% endif %} -->
    {% block content %}
    {% endblock %}
    </main>
  </body>
</html>
