{% extends 'hey_neighbor/base.html' %}


{% block content %}
  {% for heading in object_list.headings %}
    <a href="{% url 'hey_neighbor:selection' heading %}"><span>{{heading.capitalize}}</span></a>
  {% endfor %}

<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->
{% if object_list %}
{% for object in object_list.tools %}
  <ul>
  <li><a href="{% url 'hey_neighbor:detail' object.pk %}" for='choice{{forloop.counter}}'>{{object.tool}}</a></li>
  {% if object.availability == True %}
  <p> Is Available: Yes</p>
  {% else %}
  <p> Is Available: No</p>
  {% endif %}
  </ul>
{% endfor %}
{% else %}

<p>There was an issue</p>

{% endif %}

{% endblock %}
