{% extends '../hey_neighbor/base.html' %}
{% block content %}
<section class='row justify-content-center'>
  <h2 class='heads'>Log In</h2>
</section>

<div class='row justify-content-center'>
  <section class='posting col-md-4'>
    <p>Login neighbor!!</p>
    <form method = 'post'>
      {% csrf_token %}
      {{form.as_p}}
      <button>Log In</button>
    </form>

    <p>Don't have account yet? Sign up here to share your tools!</p>
    <a href="{% url 'accounts:signup' %}">Sign Up!</a>
  </section>
</div>
{% endblock %}
